@import url(http://fonts.googleapis.com/css?family=Roboto:300,700);

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$accent-color: #46482F;

* {
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
}

section {
	min-height: 100vh;
}

#fold {
	.cycle-bg-image {
		background-size: cover !important;
	}
	img {
		display: block;
		margin: 7.5vh auto; 
	}
	i.fa {
		color: $accent-color;
		bottom: 7.5vh;
		position: absolute;
		text-align: center;
		width: 100%;
		font-size: 1.5rem;
	}
}

#synopsis {
	background: $accent-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	p {
		@include outer-container;
		color: white;
		font-size: 1.75rem;
		padding: 0 2rem; 
	}
}

#team {
	display: flex;
	flex-direction: column;
	justify-content: center;
	.container {
		padding: 0 2rem;
		> div {
			@include outer-container;
			* {
				display: inline;
				color: $accent-color;
			}
			h2 {
				display: block;
				text-transform: uppercase;
			}
			dl {
				dt {
					font-weight: normal;
				}
				dd {
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
		.crew h2 {
			margin-top: 2em;
		}
	}
}

#trailer {
	iframe {
		width: 100vw;
		height: 100vh;
	}
}